
<div class="row background-drap">
    <nav class="navbar navbar-light bg-indigo  bg-light">
    </nav>
    
    <div class="col-lg-12 col-sm-12 background-drap">
       
        <div class="cards ">
            
            <router-outlet></router-outlet>
        </div>
        <footer>
            <div class="row footer mat-elevation-z8">
                <mat-divider></mat-divider>
                <div class="copyright">
                    <div class="col-lg-12">
                        <span>
                        © 2021 - Powered By Sierra Digital INC
                    </span>
                    </div>
        
                </div>
            </div>
        
        </footer>
    </div>
   
   
    
</div>
