div{
    display: block!important;
}
h2{
    left:50%
}
.content {
    top: 50%;
    left: 50%;
}

.grid-item {
    flex: 1 0 auto;
    
}
.register{
    display: flex;
}
.text-right{
    text-align: right;
}
.form-group{
    flex: 1;
    justify-content: center;
    align-items: center;
    
}
.logo{
    vertical-align: middle;
    text-align: center;
    width: 90px;
    height: 90px;
}
.example-full-width{
    width: 100%;
}
div .container{
  display: flex;
  align-items: center;
  justify-content: center
}
form{
    padding:0
}