table{
    table-layout: fixed;
}
th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .mat-column-SNO {
    width: 60px;
    /* border-right: 1px solid currentColor; */
    padding-right: 24px;
    text-align: center;
  }
  a{
    cursor: pointer;
  }